html {
    height: 100%;
}

h1,
p {
    color: #8A8AA6;
}

body {
    padding: 0px;
    background-color: rgb(244, 245, 250);
}

.blurryBg {
    background-image: url(/Pic/bg.jpg);
    /* background-size: 250px 250px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -50px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.bgOverlay {
    position: fixed;
    z-index: 0;
    bottom: -25px;
    left: 0;
    right: 0;
    width: 100%;
}

.mainHeader {
    background-color: #fff;
    height: 80px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.mainHeader .refLogos {
    text-align: left;
}

.mainHeader .logobox {
    text-align: right;
}

.refLogos img {
    display: inline-block;
    text-align: right;
    margin-left: 10px;
}

@media screen and (max-width: 352px) {
    .refLogos img {
        max-width: 30px;
    }
}

.btn-outline-primary {
    border: none !important;
    border-radius: 50px !important;
    font-size: 16px !important;
    padding: 12px 26px !important;
    background-color: #F1AB49 !important;
    color: rgb(46, 46, 46);
}

.btn-outline-primary.disabled-custom {
    color: gray;
}

.btn-prev {
    border-radius: 50px !important;
    font-size: 16px !important;
    padding: 12px 26px !important;
    border: 2px solid #F1AB49 !important;
    color: rgb(46, 46, 46);
    background: rgba(241, 171, 73, 0.2);
}

.rightSide {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding: 2rem;
}


/* titleBox */

.titleBox {
    margin-bottom: 2rem;
}

.titleBox h1 {
    text-align: right;
    font-size: 19px;
    color: #000;
}

.titleBox span {
    border-bottom: 5px solid #F1AB49;
    width: 100px;
    display: block;
    margin-top: 10px;
}


/* input */

.inputBox {
    display: flex;
    border: 2px solid #D0CCE4;
    border-radius: 25px;
    background: #F8F8F8;
}

.inputBox input.text-box {
    padding: 10px;
    background-color: transparent;
    font-size: 15px;
    font-family: Behdad;
    direction: rtl;
    width: 100%;
    flex: 0.9;
    border: none;
    outline: 0;
}

.item-box {
    border: 2px solid #D0CCE4;
    border-radius: 0 25px 25px 0;
    background: #F8F8F8;
}

.item-box input {
    padding: 10px;
    padding-right: 20px;
    background-color: transparent;
    font-size: 15px;
    font-family: Behdad;
    direction: rtl;
    width: 100%;
    border: none;
    outline: 0;
}

.inputBox img {
    flex: 0.1;
    height: 22px;
    object-fit: contain;
    align-self: center;
    margin-left: 9px;
}

.gridEditBtn {
    background: #E2E2E2;
    font-size: 13px;
    color: #636363;
}

@media screen and (min-width: 1200px) {
    body {
        height: calc(100% - 80px);
        margin-top: 80px;
    }
    .mainHeader {
        position: fixed;
        z-index: 12000;
    }
    .containerHandle {
        align-items: center;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .rightSide {
        height: 100%;
    }
    .scrollingContent {
        align-self: flex-start;
    }
}

.scrollingContent {
    margin: 2rem auto;
}

@media screen and (max-width: 1199px) {
    body {
        padding-bottom: 2rem;
    }
    .containerHandle {
        margin-top: 2rem;
    }
}

.cetnerBtn {
    max-width: max-content;
    max-width: -moz-max-content;
    margin-right: auto;
    margin-left: auto;
}

.hint {
    color: rgb(135, 135, 135);
    font-size: 13px;
    margin: 3px 10px 2rem 0;
    text-align: right;
}

.btn-edit {
    background: #fff !important;
    box-shadow: -1px 1px 3px #333;
}

.btn-edit:hover {
    background-color: rgb(28, 110, 204) !important;
}

.item-box-container .btn {
    margin-right: -20px;
    z-index: 123;
}

@media screen and (max-width:720px) {
    .box-body {
        padding-top: 2rem !important;
    }
    h1 {
        font-size: 24px;
    }
    .btn-outline-primary,
    .btn-prev {
        padding: 12px 15px !important;
        font-size: 14px !important;
    }
    #imgCaptcha {
        height: 40px !important;
    }
}

@media screen and (max-width:480px) {
    .item-box-container {
        display: block !important;
    }
    .item-box {
        border-radius: 25px;
    }
    .item-box-container .btn {
        z-index: 123;
        margin-top: 1rem;
    }
}

.scrollingContent .item-box {
    border: none;
    background: transparent;
}

.scrollingContent .item-box input {
    border: 2px solid #D0CCE4;
    border-radius: 25px;
    background: #F8F8F8;
}

.select2-container--default .select2-selection--single {
    border: 2px solid #D0CCE4;
    background: #F8F8F8;
    border-radius: 25px;
    padding-right: 9px;
    outline: 0;
}

.guideBox {
    padding: 3px 3px;
    margin-bottom: 1rem;
    font-size: 20px;
    text-align: center;
}
    .guideBox p {
        color: #a00303;
        text-shadow: 0px 0px 4px #fff;
        font-weight: bolder;
    }

.step-line, .step-line li{
    margin: 0;
    padding: 0
}