
    <div id="schoolBoxShadow" class="box-shadow">

        <div class="box-header">
            گزارش پیشرفت به روز رسانی مدارس
        </div>

        <div class="box-body">

            <div class="container-fluid p-0" style="direction:rtl;">

                <div class="row">

                    <div class="col-12">

                        
                        <div class="k-rtl">
                            <div id="grid">
                                
                            </div>

                       </div>

                    </div>

                </div>

                <div class="row">


                    <div class="col-12 text-right">
                        <br />
                        <button class="btn-prev btn btn-outline-warning btn-lg" onclick="window.location.href='/'">برگشت به صفحه اصلی</button>

                    </div>

                </div>

            </div>

        </div>

    </div>

