<div class="col-12 d-none">
    <div id="schoolBoxShadow" class="box-shadow">
        <div class="box-body">
            <div class="titleBox">
                <h1>فهرست مدارس</h1>
                <span></span>
            </div>
            <p class="hint">اطلاعات مکانی مدرسه با توجه به داده های وزارت آموزش و پرورش در ادامه آمده است. خواهشمند است چنانچه موردی نیاز به اصلاح دارد با استفاده از گزینه "ویرایش" اقدام به تغییر آن نموده و سپس گزینه "ثبت/ ادامه" را کلیک نمائید.</p>
            <div class="container-fluid p-0" style="direction:rtl;">
                <div class="row">
                    <div class="col-12">
                        <div class="k-rtl">
                            <div id="grid"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <br />
                        <div style="display:flex;flex-direction:row;justify-content:space-between;">
                            <button class="btn-prev btn btn-outline-warning btn-lg">برگشت</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
