

<div id="divFinal" class="col-12 d-none scrollingContent">

    <style>

        .lable {
            display: block;
            font-weight: 600;
        }

        .cell-item {
            border: 2px solid rgb(192,189,208);
            padding: 5px;
            font-size: 16px;
            line-height: 30px;
            border-radius: 25px;
        }

    </style>

    <div class="box-shadow">

        @*<div class="box-header">
                ثبت نهایی
            </div>*@

        <div class="box-body">

            <div class="titleBox">
                <h1>اطلاعات مدرسه</h1>
                <span></span>
            </div>

            <div class="container-fluid  text-right" style="direction:rtl;">

                <div class="row">

                    <div class="col-4">

                        <label class="lable">کد مدرسه</label>
                        <div id="previewSchoolCode" class="cell-item">@@Model.SchoolCode&nbsp;</div>

                    </div>

                    <div class="col-4">
                        <label class="lable">عنوان مدرسه</label>
                        <div id="previewName" class="cell-item">@@Model.Name&nbsp;</div>

                    </div>

                    <div class="col-4">
                        <label class="lable">نوع</label>
                        <div id="previewSubset" class="cell-item">@@Model.SubSet&nbsp;</div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-4">

                        <label class="lable">جنسیت</label>
                        <div id="previewGender" class="cell-item">@@Model.Gender&nbsp;</div>

                    </div>

                    <div class="col-4">
                        <label class="lable">نوبت تحصیلی</label>
                        <div id="previewStudyTime" class="cell-item">@@Model.StudyTime&nbsp;</div>

                    </div>

                    <div class="col-4">
                        <label class="lable">دوره تحصیلی</label>
                        <div id="previewPeriod" class="cell-item">@@Model.Period&nbsp;</div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-4">

                        <label class="lable">تعداد پایه تحصیلی</label>
                        <div id="previewBasicCount" class="cell-item">@@Model.BasicCount&nbsp;</div>

                    </div>

                    <div class="col-4">
                        <label class="lable">تعداد معلم</label>
                        <div id="previewTeacherCount" class="cell-item">@@Model.TeacherCount&nbsp;</div>

                    </div>

                    <div class="col-4">
                        <label class="lable">تعداد دانش آموزان</label>
                        <div id="previewStudentCount" class="cell-item">@@Model.StudentCount&nbsp;</div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-4">

                        <label class="lable">تلفن 1</label>
                        <div id="previewTell1" class="cell-item">@@Model.Tell1&nbsp;</div>

                    </div>

                    <div class="col-4">
                        <label class="lable">تلفن 2</label>
                        <div id="previewTell2" class="cell-item">@@Model.Tell2&nbsp;</div>

                    </div>

                    <div class="col-4">
                        <label class="lable">تلفن 3</label>
                        <div id="previewTell3" class="cell-item">@@Model.Tell3&nbsp;</div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-4">

                        <label class="lable">کدپستی</label>
                        <div id="previewPostalCode" class="cell-item">@@Model.PostalCode&nbsp;</div>

                    </div>

                    <div class="col-4">
                        <label class="lable">اینترنت / سیار</label>
                        <div id="previewMobileInternet" class="cell-item">@@Model.MobileInternet&nbsp;</div>

                    </div>

                    <div class="col-4">
                        <label class="lable">اینترنت / ثابت</label>
                        <div id="previewADSL" class="cell-item">@@Model.ADSL&nbsp;</div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-4">
                        <label class="lable">عکس 1</label>
                        <div id="previewImage1" style="height: 200px;width: 100%;border: 1px solid gray;border-radius: 5px 5px;padding: 10px;background-repeat: no-repeat;background-size: 100% 100%;background-position: center;"></div>
                    </div>

                    <div class="col-4">
                        <label class="lable">عکس 2</label>
                        <div id="previewImage2" style="height: 200px;width: 100%;border: 1px solid gray;border-radius: 5px 5px;padding: 10px;background-repeat: no-repeat;background-size: 100% 100%;background-position: center;"></div>
                    </div>

                    <div class="col-4">
                        <label class="lable">عکس 3</label>
                        <div id="previewImage3" style="height: 200px;width: 100%;border: 1px solid gray;border-radius: 5px 5px;padding: 10px;background-repeat: no-repeat;background-size: 100% 100%;background-position: center;"></div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-12">

                        <label class="lable">توضیحات</label>
                        <div id="previewComment" class="cell-item">@@Model.Comment&nbsp;</div>


                    </div>

                </div>

                <div class="row">

                    <div class="col-12">

                        <label class="lable">موقعیت مدرسه روی نقشه</label>
                        <div id="previewMap" style="margin:auto;height:500px;width:100%;"></div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-4">

                        <label class="lable">استان</label>
                        <div id="previewOstanName" class="cell-item">@@Model.OstanName&nbsp;</div>

                    </div>

                    <div class="col-4">
                        <label class="lable">شهرستان</label>
                        <div id="previewShahrestanName" class="cell-item">@@Model.ShahrestanName&nbsp;</div>

                    </div>

                    <div class="col-4">
                        <label class="lable">بخش</label>
                        <div id="previewBakhshName" class="cell-item">@@Model.BakhshName&nbsp;</div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-4">

                        <label class="lable">دهستان</label>
                        <div id="previewDehestanName" class="cell-item">@@Model.DehestanName&nbsp;</div>

                    </div>

                    <div class="col-4">
                        <label class="lable">روستا</label>
                        <div id="previewAbadiName" class="cell-item">@@Model.AbadiName&nbsp;</div>

                    </div>

                    <div class="col-4">
                        <label class="lable">کد آماری</label>
                        <div id="previewAmarcode" class="cell-item">@@Model.Amarcode&nbsp;</div>

                    </div>

                </div>
                <div class="row">

                    <div class="col-4">

                        <label class="lable">کد منطقه</label>
                        <div id="previewAreaCode" class="cell-item">@@Model.AreaCode&nbsp;</div>

                    </div>

                    <div class="col-4">
                        <label class="lable">نام منطقه</label>
                        <div id="previewAreaName" class="cell-item">@@Model.AreaName&nbsp;</div>

                    </div>

                    <div class="col-4">
                    </div>

                </div>

                <div class="row">

                    <div class="col-12">

                        <label class="lable">آدرس</label>
                        <div id="previewAddress" class="cell-item">@@Model.Address&nbsp;</div>

                    </div>

                </div>

                <div class="row m-top">
                    <div class="col-12">
                        <br />
                        <br />
                        <div style="display:flex;flex-direction:row-reverse;justify-content:space-between;">

                            <button id="btnFinalSave" class="btn btn-lg btn-outline-primary">ثبت نهایی</button>
                            <button class="btn-prev btn btn-outline-warning btn-lg">برگشت</button>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>


<script>

    $("#btnFinalSave").on("click", function () {

        $(this).attr("disabled", true);
        $(this).html('در حال پردازش <div class="spinner-grow text-primary" role="status"></div>')

        var fd = new FormData();
        fd.append('MainCode', $("#inputFormMainCode").val());
        fd.append('ManagerMobile', $("#txtManagerMobile").val());
        fd.append('ManagerName', $("#txtFullName").val());
        fd.append('ManagerNationalCode', $("#txtNationalCode").val());
        fd.append('Lat', mapLat.toString());
        fd.append('Lng', mapLng.toString());
        fd.append('Amarcode', $("#divAmarcode").html());
        fd.append('AreaCode', $("#numAreaCode").val());
        fd.append('AreaName', $("#txtAreaName").val());
        fd.append('Address', $("#txtSchoolAddress").val());
        fd.append('SchoolCode', $("#inputFormSchoolCode").val());
        fd.append('Name', $("#inputFormSchoolName").val());
        fd.append('SubSet', $("#ddSchoolSubSet").val());
        fd.append('Gender', $("#ddSchoolGender").val());
        fd.append('StudyTime', $("#txtStudyTime").val());
        fd.append('Period', $("#txtPeriod").val());
        fd.append('TeacherCount', $("#numTeacherCount").val());
        fd.append('StudentCount', $("#numStudentCount").val());
        fd.append('Tell1', $("#txtTell1").val());
        fd.append('Tell2', $("#txtTell2").val());
        fd.append('Tell3', $("#txtTell3").val());
        fd.append('PostalCode', $("#txtPostalCode").val());
        fd.append('MobileInternet', $("#ddMobileInternet").val());
        fd.append('Adsl', $("#ddAdsl").val());
        fd.append('Comment', $("#txtComment").val());
        fd.append('BasicCount', $("#numBasicCount").val());

        var image1 = $('#divImage1').css('background-image').trim();
        if (image1 != 'none') {
            image1 = image1.substring(5, image1.length - 2);
            fd.append('Images', image1);
        }

        var image2 = $('#divImage2').css('background-image').trim();
        if (image2 != 'none') {
            image2 = image2.substring(5, image2.length - 2);
            fd.append('Images', image2);
        }

        var image3 = $('#divImage3').css('background-image').trim();
        if (image3 != 'none') {
            image3 = image3.substring(5, image3.length - 2);
            fd.append('Images', image3);
        }

        $.ajax({
            headers: {
                "Authorization": token
            },
            url: "/Home/SaveForm",
            method: "POST",
            contentType: false,
            processData: false,
            data: fd,
            success: function (res) {

                resetEdit();

                Swal.fire({
                    title: '',
                    html: "<span style='font-family:Behdad'><span style='font-size:15px;'>ضمن تشکر از همراهی شما، اطلاعات مدرسه در سامانه به روزرسانی اطلاعات مدارس سراسر کشور با موفقیت ثبت گردید</span></span>",
                    type: 'success',
                    showCancelButton: false,
                    showConfirmButton: true,
                    confirmButtonText: "بستن",
                    onClose: () => {

                                             
                        $("#divFinal").addClass("d-none");
                        $("#divFinal").prev().prev().prev().removeClass("d-none");
                        nextStep(5);

                        //#####################################################################################################
                        $.ajax({
                            headers: {
                                "Authorization": token
                            },
                            url: "/Home/GetAllSchoolByManagerMobile",
                            method: "POST",
                            data: { mobile: schoolsManager.Mobile },
                            success: function (res) {

                                if (res != null && res.length > 0) {
                                    schoolsInfo = JSON.parse(JSON.stringify(res));

                                    gridData = [];
                                    $.each(schoolsInfo, function (index, item) {
                                        gridData.push({
                                            Code: item.MainCode,
                                            Name: item.Name,
                                            //AmarCode : item.AmarCode,
                                            Ostan: item.Ostan_Name,
                                            IsCity: item.IsCity,
                                            //Shahrestan: item.Shahrestan_Name,
                                            //Bakhsh: item.Bakhsh_Name,
                                            //Dehestan: item.Dehestan_Name,
                                            //Abadi : item.Abadi_Name,
                                            Status: item.Status
                                        })
                                    });


                                    fillSchoolGrid(gridData);
                                }
                                else {
                                    Swal.fire({
                                        title: '',
                                        html: "<span style='font-family:Behdad;'><span style='font-size:18px;'>هیچگونه اطلاعاتی دریافت نشد</span></span>",
                                        type: 'error',
                                        showCancelButton: false,
                                        showConfirmButton: false
                                    });
                                }
                            },
                            error: function (err) {

                                if (err.status == 401) {
                                    Swal.fire({
                                        title: '',
                                        html: "<span style='font-family:Behdad;'><span style='font-size:18px;'>مدت زمان دسترسی شما به اتمام رسیده است لطفاً مجدد وارد سامانه شوید</span></span>",
                                        type: 'error',
                                        showCancelButton: false,
                                        showConfirmButton: false,
                                        onClose: () => {
                                            location.reload();
                                        }
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: '',
                                        html: "<span style='font-family:Behdad;'><span style='font-size:18px;'>بروز رسانی اطلاعات با خطا روبرو شد</span></span>",
                                        type: 'error',
                                        showCancelButton: false,
                                        showConfirmButton: false
                                    });
                                }

                            }
                        });
                        //#####################################################################################################

                    }
                });

            },
            error: function (err) {

                resetEdit();

                if (err.status == 401) {

                    Swal.fire({
                        title: '',
                        html: "<span style='font-family:Behdad;'><span style='font-size:18px;'>مدت زمان دسترسی شما به اتمام رسیده است لطفاً مجدد وارد سامانه شوید</span></span>",
                        type: 'error',
                        showCancelButton: false,
                        showConfirmButton: false,
                        onClose: () => {
                            location.reload();
                        }
                    });

                }
                else {

                    Swal.fire({
                        title: '',
                        html: "<span style='font-family:Behdad;'><span style='font-size:18px;'>" + "خطا رخ داده است" + "</span></span>",
                        type: 'error',
                        showCancelButton: false,
                        showConfirmButton: false,
                    });
                }
            }
        });

    });

</script>