@*<div style="display:flex;direction:rtl;font-family:Behdad;background-color:#08484e;padding:5px;text-align:right;padding-right:10px;justify-content:space-between;">*@

<div class="mainHeader">

    <div class="container" style="max-width: 1440px;">

        <div class="row">

            <div class="col-4">
                <div class="logobox">
                    <img src="Pic/newlogo.png" />
                </div>
            </div>

            <div class="col-4">
                <div  style="text-align:center;line-height:50px;">
                    <a href="/Management">ورود به صفحه گزارش استانی مدارس</a>
                </div>
            </div>

            <div class="col-4">
                <div class="refLogos">
                    <img src="Pic/vertebat.png" />
                    <img src="Pic/lsazman.png" />
                    <img src="Pic/v-amuzesh.png" />
                </div>
            </div>

        </div>

    </div>

</div>
